<!DOCTYPE html>

<html>

<head>
</head>

<body>
    <h1>{{title}}</h1>
    <h2>Done by {{name}}</h2>
    <form>
        <input placeholder="location">
        <button>Search</button>
    </form>
    <p id='message'></p>
    <script src="js/app.js"></script>

</body>

</html>